@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

/* --------------default css----------- */
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

/* -----------------header-text----------------  */

.header-part-text {
  text-align: center;
  background-color: #74959a;
  padding: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 80px;
}

/* --------------income part ------------*/
.get-income {
  background-color: #21325e;
  border-radius: 10px;
  color: white;
}
/*----------------------- image section--------------- */
.image-part img {
  width: 600px;
  border-radius: 10px;
  height: 670px;
}

/*------------------full  counting section-------------------*/

.income-part {
  text-align: center;
}

/*-------------------- inputs section---------------------- */

.inputs {
  background-color: lightgray;
  border: none;
  margin-top: 20px;
  outline: none;
  border-radius: 4px;
  padding: 5px;
}

/* ------------------calculate button---------------------- */
.button-calc {
  border: none;
  background-color: skyblue;
  margin-top: 20px;
  padding: 8px;
  width: 150px;
  font-weight: 700;
  border-radius: 5px;
}

/* ----------------total of all count -----------------*/
.total {
  margin-top: 20px;
  font-weight: 700;
}

/*--------------------- save money button -----------------------*/
.button-save {
  border: none;
  background-color: skyblue;
  margin-top: 20px;
  margin-left: 5px;
  padding: 3px;
  width: 50px;
  font-weight: 700;
  border-radius: 5px;
}
/*---------------------- saving input--------------------- */
.input-save {
  width: 70px;
  margin: 0px 10px 0px 10px;
}
